/*
  Main style sheet for My Personal CV Site for
  Web Dev Bootcamp course
*/

/*Overriding the default margin for the body*/
html, body {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

h1 {
  margin: 0 auto 0 auto;
  font-family: 'Caveat', cursive;
}

/* Top Div */
.top-container {
  background-color: #e3eff3;
  height: 100%;
  display: block;
  text-align: center;
  padding-top: 5em;
  position: relative;
}
/* Middle Div */
.middle-container {
  text-align: center;
}
/* Bottom Div */
.bottom-container {
  width: 200px;
  height: 200px;
  background-color: blue;
}

/*=========== Header Section ======================================== */
.pro{
  text-decoration: underline;
  
}
.clouds {
  position: absolute;
}
#top-cloud {
  right: 12em;
  top: 2em;
}
#bottom-cloud{
  left: 12em;
}
/*=========== end header ============================================ */

/*=========== About Me   ============================================ */
.profile-pic{
  border-radius: 50%; /*Make picture round*/
  width: 10em;
  height: 10em;
}
/*=========== end About Me   ======================================== */
